.raindrops {
  animation: fall 3s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-5rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(10rem);
    opacity: 0;
  }
}
