.mainForestCastDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40rem;
}

.searchBarDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  width: 40rem;
  margin-top: 5rem;
  gap: 0.5rem;
}

.searchBarInputStyle {
  width: 20rem;
  height: 1.5rem;
  border: 2px solid grey;
}

.searchBarSubmitButton {
  width: 10rem;
  height: 2rem;
  background: lightblue;
  font-weight: 300;
  border: 0;
  color: white;
  border-radius: 25px;
}

.searchBarSubmitButton:hover {
  cursor: pointer;
}

.forecastDataDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gridContainer {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
  overflow: auto;
}

.gridItem {
  background-color: #3498db;
  color: white;
  padding: 20px;
  font-size: 1.25rem;
  text-align: center;
}

.gridFilter {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdownButton {
  background-color: white;
  height: 2rem;
  width: 8rem;
}

.dropdownButton:hover {
  cursor: pointer;
}

.titleStyle {
  display: flex;
  width: 80%;
  gap: 0.25rem;
}

.listStyle {
  display: flex;
  z-index: 999;
  position: absolute;
  background-color: white;
  margin-top: 3.5rem;
  border: 2px solid black;
}

.ulStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 0.25rem;
}

.listItem {
  list-style: none;
  padding: 1rem;
}

.listItem:hover {
  cursor: pointer;
  background-color: lightblue;
}
